html {
  position: relative;
  min-height: 100%;
}
main {
  /* Margin bottom by footer height */
  margin-bottom: 235px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 235px;
  background-color: #f5f5f5;
}